name: Build
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          dotnet build --configuration Release
          Compress-Archive bin\Release\*\*,*.bat,*.conf,*.tar,boot.scr,artifact.zip,vtxmenu.ini,wfb_tx,reset\,presets\,sensors\,txprofiles\ OpenIPC-Configurator.zip

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: 19.11.2025
          files: OpenIPC-Configurator.zip
